In [ ]:
import pandas as pd 
import numpy as np
import treeDecisioning

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [13]:
data = pd.read_csv('recruitment_data.csv')

In [14]:
data

,Age,Gender,EducationLevel,ExperienceYears,PreviousCompanies,DistanceFromCompany,InterviewScore,SkillScore,PersonalityScore,RecruitmentStrategy,HiringDecision
0,26,1,2,0,3,26.783828,48,78,91,1,1
1,39,1,4,12,3,25.862694,35,68,80,2,1
2,48,0,2,3,2,9.920805,20,67,13,2,0
3,34,1,2,5,2,6.407751,36,27,70,3,0
4,30,0,1,6,1,43.105343,23,52,85,2,0
...,...,...,...,...,...,...,...,...,...,...,...
1495,48,0,2,3,4,9.183783,66,3,80,3,1
1496,27,1,2,10,3,14.847731,43,97,7,2,0
1497,24,1,1,1,2,4.289911,31,91,58,1,1
1498,48,0,2,4,4,36.299263,9,37,44,2,1
1499,34,1,2,11,5,12.910472,63,40,26,2,1

In [ ]:
# tiền xử lý dữ liệu
X = data.drop(columns=['HiringDecision'])
y = data['HiringDecision']

X = np.array(X)
y = np.array(y)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [20]:
clf = treeDecisioning.DecisionTree(max_depth=10)
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)

In [23]:
print("Độ chính xác:",accuracy_score(y_test, predictions))

Độ chính xác: 0.89

### Scikit-learn's DecisionTree

In [24]:
from sklearn.tree import DecisionTreeClassifier

In [25]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
preds = dt.predict(X_test)

In [26]:
print("Độ chính xác:",accuracy_score(y_test, preds))

Độ chính xác: 0.8833333333333333