In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import logisticR # Logistic Regression

In [2]:
# Đọc tập dữ liệu vào chương trình

dataset = pd.read_csv('dataset.csv')

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
data = dataset.copy()

data['Gender'] = data['Gender'].replace({'Male': 0, 'Female': 1}) # Thay thế dữ liệu chuỗi thành số
data.drop(columns = ['User ID'], inplace = True) # Loại bỏ cột "User ID"

In [5]:
data

     Gender  Age  EstimatedSalary  Purchased
0         0   19            19000          0
1         0   35            20000          0
2         1   26            43000          0
3         1   27            57000          0
4         0   19            76000          0
..      ...  ...              ...        ...
395       1   46            41000          1
396       0   51            23000          1
397       1   50            20000          1
398       0   36            33000          0
399       1   49            36000          1

[400 rows x 4 columns]

In [6]:
# Phân chia biến đặc trưng (x) và biến mục tiêu (y)
x = data.drop(columns= ['Purchased'])
y = data.Purchased

x.shape, y.shape

((400, 3), (400,))

In [7]:
# Chuẩn hóa dữ liệu
x_normalize = StandardScaler()
x_norm = x_normalize.fit_transform(x)

x_norm

array([[-1.02020406, -1.78179743, -1.49004624],
       [-1.02020406, -0.25358736, -1.46068138],
       [ 0.98019606, -1.11320552, -0.78528968],
       ...,
       [ 0.98019606,  1.17910958, -1.46068138],
       [-1.02020406, -0.15807423, -1.07893824],
       [ 0.98019606,  1.08359645, -0.99084367]])

In [8]:
# Phân chia tập huấn luyện (train) và tập thử (test)
x_train, x_test, y_train, y_test = train_test_split(
    x_norm, y, test_size= 0.1, random_state=42
)

In [ ]:
# Logistic Regression của scikit-learn
log_model = LogisticRegression()
log_model.fit(x_train, y_train)

# Logistic Regression của logisticR
logr = logisticR.LosgisticRegression()
logr.fit(x_train, y_train)

(array([-0.08744073,  1.65067329,  0.88676105]), -0.8088232309276191)

In [10]:
# Dự đoán từ scikit-learn
y_pred = log_model.predict(x_test)

# Dự đoán từ logisticR
yR_pred = logr.predict(x_test)

In [12]:
acc = accuracy_score(y_test, y_pred)
accR = accuracy_score(y_test, yR_pred)

print(f"Độ chính xác từ scikit-learn: {acc*100}%")
print(f"Độ chính xác từ logisticR: {accR*100}%")

Độ chính xác từ scikit-learn: 90.0%
Độ chính xác từ logisticR: 90.0%